body {
  background: #FAF8EF none repeat scroll 0% 0%;
}

h1 {
  display: inline-block;
}

div {
  display: inline-block;
}

#header, #pre-game, #game, #post-game{
  width: 454px;
  margin: 15px auto;
  border: 1px solid black;
  padding: 10px;
  display: block;
}

#header h1 {
}

#scores {
  float: right;
}
#scores div{
  border-radius: 15px;
  background: #666666;
  width: 100px;
}

#scores p {
  display: block;
  text-align: center
}

#pre-game p {
  display: inline-block;
}

#new-game {
  float: right;
  border-radius: 5px;
  background: #654321;
  margin: 1em 0px;
  cursor: pointer;
}

/*#game{
  position: relative;
  width: 40%;
  margin: 0 auto;
}*/

/*#game:before{
	content: "";
	display: block;
	padding-top: 100%; 	// initial ratio of 1:1
}*/

#game div{
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#grid {
  display: block;
  position: relative;
  border-radius: 15px;
  background: #555555;
}

#grid .row{
    display: block;
    position: relative;
    height: 20%;
    margin-top: 4%;
}

#grid .background-tile{
  display: inline-block;
  position: relative;
  height: 100%;
  width: 20%;
  margin-left: 4%;
  border-radius: 15px;
  background: #999999;
}

.N0 rect{
  fill: #cccccc;
}

.N2 rect{
  fill: #bfbfbf;
}

.N4 rect{
  fill: #b3b3b3;
}

.N8 rect{
  fill: #a6a6a6;
}

.N16 rect {
  fill: #999999;
}

.N32 rect {
  fill: #8c8c8c
}

.N64 rect {
  fill: #808080
}

.N128 rect {
  fill: #737373;
}

.N256 rect {
  fill:  #666666;
}

.N512 rect {
  fill: #595959;
}

.N1024 rect {
  fill: #4d4d4d;
}

.N2048 rect {
  fill:  #404040;
}

.N4096 rect, .N8192 rect, .N16384 rect, .N32768 rect, .N65536 rect {
  fill: black;
}

.N2 text{
  font-size: 50px;
}

.N4 text{
  font-size: 50px;
}

.N8 text{
  font-size: 50px;
}

.N16 text {
  font-size: 45px;
}

.N32 text {
  font-size: 45px;
}

.N64 text {
  font-size: 45px;
}

.N128 text {
  font-size: 40px;
}

.N256 text {
  font-size: 40px;
}

.N512 text {
  font-size: 40px;
}

.N1024 text {
  font-size: 35px;
}

.N2048 text {
  font-size: 35px;
}

.N4096 text, .N8192 text, .N16384 text, .N32768 text, .N65536 text {
  font-size: 30px;
  fill: white;
}
