/*
black: 242424
gray: d4d4d4
white: efefef
blue: 7cc0b0
yellow: fff65e
red: ff5454
*/
body {
  background: #e8e8e8;
  color: #242424;
  margin: 0px auto;
  font-weight: normal;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
}

#app {
  margin: auto;
  width: 1020px;
  background: #eee;
  padding: 20px;
}
