/*
black: 242424
gray: d4d4d4
white: efefef
blue: 7cc0b0
yellow: fff65e
red: ff5454
*/
$light-gray: #e8e8e8;
$dark-gray: #212121;
$base-width: 1020px;

.expand-transition {
  transition: all .3s ease;
  height: 30px;
  padding: 10px;
  background-color: #eee;
  overflow: hidden;
}

/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.expand-enter, .expand-leave {
  height: 0;
  padding: 0 10px;
  opacity: 0;
}
@keyframes slide-in {
	from {
		opacity: 0;
		transform: translateX(-400px);
	}
	to {
		opacity:1;
		transform: translateX(0);
	}
}
@keyframes slide-out {
	from {
		opacity: 1;
		transform: translateX(0);
	}
	to {
		opacity:0;
		transform: translateX(400px);
	}
}

body { 
	background:$dark-gray;
	color:#242424;
	margin:0px auto;
	font-weight: normal; 
	font-family: Geneva, Tahoma, Verdana, sans-serif;
	height:100vh;
}
h1, h2, h3, h4, h5 {
	letter-spacing:1px;
}
.shadow {
	-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
}
#app {
	max-width:100%;
	height: inherit;
}
#main {
	width:100%;
	height:calc(100% - 50px);
	background:$light-gray;
	z-index:10;
	position:relative;
	-moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
#main.slide {
	transform: translateY(-300px);
}
#game{
	width:100%;
	margin-top:10px;
	background-color:#fff;
	min-height:400px;
}
#game div {
	padding:20px;
}
#footer {
	color:#fff;
	z-index:0;
	position:fixed;
	bottom:0;
	min-height:350px;
	width:100%;
	background:#555;
	padding:0;
}
#footer div {

}
#footer #nav{
	min-height:50px;
	height:50px;
	width:100%;
	margin:0;
	bottom:0;
	position:absolute;
	background:#555;
}
#footer #nav div {
	position:relative;
	width:$base-width;
	margin:0 auto;
}
#footer a{
	color:#eee;
}
#footer a:hover{
	color:#d4d4d4;
}